<h1>Содержание<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Откройте-таблицу-и-изучите-общую-информацию-о-данных" data-toc-modified-id="Откройте-таблицу-и-изучите-общую-информацию-о-данных-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Откройте таблицу и изучите общую информацию о данных</a></span></li><li><span><a href="#Предобработка-данных" data-toc-modified-id="Предобработка-данных-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Предобработка данных</a></span><ul class="toc-item"><li><span><a href="#Удаление-пропусков" data-toc-modified-id="Удаление-пропусков-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Удаление пропусков</a></span></li><li><span><a href="#Обработка-аномальных-значений" data-toc-modified-id="Обработка-аномальных-значений-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Обработка аномальных значений</a></span></li><li><span><a href="#Удаление-пропусков-(продолжение)" data-toc-modified-id="Удаление-пропусков-(продолжение)-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Удаление пропусков (продолжение)</a></span></li><li><span><a href="#Изменение-типов-данных" data-toc-modified-id="Изменение-типов-данных-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Изменение типов данных</a></span></li><li><span><a href="#Обработка-дубликатов" data-toc-modified-id="Обработка-дубликатов-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Обработка дубликатов</a></span></li><li><span><a href="#Категоризация-данных" data-toc-modified-id="Категоризация-данных-2.6"><span class="toc-item-num">2.6&nbsp;&nbsp;</span>Категоризация данных</a></span></li><li><span><a href="#Шаг-3.-Исследуйте-данные-и-ответьте-на-вопросы" data-toc-modified-id="Шаг-3.-Исследуйте-данные-и-ответьте-на-вопросы-2.7"><span class="toc-item-num">2.7&nbsp;&nbsp;</span>Шаг 3. Исследуйте данные и ответьте на вопросы</a></span><ul class="toc-item"><li><span><a href="#3.1-Есть-ли-зависимость-между-количеством-детей-и-возвратом-кредита-в-срок?" data-toc-modified-id="3.1-Есть-ли-зависимость-между-количеством-детей-и-возвратом-кредита-в-срок?-2.7.1"><span class="toc-item-num">2.7.1&nbsp;&nbsp;</span>3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?</a></span></li><li><span><a href="#3.2-Есть-ли-зависимость-между-семейным-положением-и-возвратом-кредита-в-срок?" data-toc-modified-id="3.2-Есть-ли-зависимость-между-семейным-положением-и-возвратом-кредита-в-срок?-2.7.2"><span class="toc-item-num">2.7.2&nbsp;&nbsp;</span>3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?</a></span></li><li><span><a href="#3.3-Есть-ли-зависимость-между-уровнем-дохода-и-возвратом-кредита-в-срок?" data-toc-modified-id="3.3-Есть-ли-зависимость-между-уровнем-дохода-и-возвратом-кредита-в-срок?-2.7.3"><span class="toc-item-num">2.7.3&nbsp;&nbsp;</span>3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?</a></span></li><li><span><a href="#3.4-Как-разные-цели-кредита-влияют-на-его-возврат-в-срок?" data-toc-modified-id="3.4-Как-разные-цели-кредита-влияют-на-его-возврат-в-срок?-2.7.4"><span class="toc-item-num">2.7.4&nbsp;&nbsp;</span>3.4 Как разные цели кредита влияют на его возврат в срок?</a></span></li><li><span><a href="#3.5-Приведите-возможные-причины-появления-пропусков-в-исходных-данных." data-toc-modified-id="3.5-Приведите-возможные-причины-появления-пропусков-в-исходных-данных.-2.7.5"><span class="toc-item-num">2.7.5&nbsp;&nbsp;</span>3.5 Приведите возможные причины появления пропусков в исходных данных.</a></span></li><li><span><a href="#3.6-Объясните,-почему-заполнить-пропуски-медианным-значением-—-лучшее-решение-для-количественных-переменных." data-toc-modified-id="3.6-Объясните,-почему-заполнить-пропуски-медианным-значением-—-лучшее-решение-для-количественных-переменных.-2.7.6"><span class="toc-item-num">2.7.6&nbsp;&nbsp;</span>3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.</a></span></li></ul></li><li><span><a href="#Шаг-4:-общий-вывод." data-toc-modified-id="Шаг-4:-общий-вывод.-2.8"><span class="toc-item-num">2.8&nbsp;&nbsp;</span>Шаг 4: общий вывод.</a></span></li></ul></li></ul></div>

# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

**Цель исследования:** необходимо выяснить влияет ли семейное положение, наличие детей, размер дохода и цель кредита на погашение кредита без просрочек и в срок.

**Входные данные:** статистика банка о платёжеспособности клиентов.

**План работы:**
1. подготовить данные, т.е. выявить и удалить (заменить) пропущенные значения и дубликаты; 
2. на основании диапазонов, присвоить категории данным по столбцам: доход, цель кредита; 
3. вывести сводные таблицы по каждому признаку (дети, семейное положение, доход, цель кредита) и сделать выводы, каким образом каждый признак влияет на погашение кредита.

Данное исследование необходимо для кредитного скоринга.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

**Вывод:**

Из выгруженной таблицы видно, что присутствуют пропущенные значения с столбцах days_employed и total_income в одинаковом количестве, видимо заполнение одной отображается на заполнении другой.

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5], dtype=int64)

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5], dtype=int64)

**Вывод:**

Чтобы не удалять строки с отстутствующими значениями, что может повлиять на результат исследования, т.к. их достаточно много, заполнила пропуски в столбце total_income медианным значением по каждому типу из столбца income_type. 
    
Отрицательное количество дней трудового стажа в столбце - артефакты (аномалии), заменила на положительные и удалила строки с аномальными значениями а столбце children.
    
Для каждого типа занятости вывела медианное значение трудового стажа, у двух типов (безработные и пенсионеры) аномально большие значения, но оставили так как есть, т.к. причину узнать нужно у выгружавшего данную таблицу, что сейчас сделать невозможно, поэтому удалила строки, в которых встречаются аномальные значения, чтобы не влияли на общую картину исследования.

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру.**

In [14]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

**Вывод:**

Чтобы не удалять строки с отстутствующими значениями, что может повлиять на результат исследования, заполнила пропуски в столбце days_employed медианными значениями по каждому типу занятости income_type. 
    
Чтобы не влияли на исследование, заменила вещественный тип данных в столбце total_income на целочисленный, привела к нижнему регистру неявные дубликаты, удалила строки дубликаты.

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

**Вывод:**

Провела категоризацию данных, это нужно для того, чтобы разбить на категории разные значения цели кредита, которые представлены с одинаковым смыслом, но с разным названием и разные виды дохода привести к категории на основе диапазона значений, таким образом можно вывести данные в сводных таблицах компактно по категориям.

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [22]:
data_pivot = data.pivot_table(index=['children'], values='debt', aggfunc = {'count', 'sum', 'mean'})# Ваш код будет здесь. Вы можете создавать новые ячейки.
data_pivot = data_pivot.rename(columns={'count':'кол-во заемщиков', 'sum':'кол-во должников', 'mean':'доля должников'})
data_pivot

          кол-во заемщиков  доля должников  кол-во должников
children
0                    14091        0.075438              1063
1                     4808        0.092346               444
2                     2052        0.094542               194
3                      330        0.081818                27
4                       41        0.097561                 4
5                        9        0.000000                 0

**Вывод:** 

Зависимость между количеством детей и возвратом кредита в срок присутствует. 

Количество должников у категории заемщиков, у которых нет детей значительно меньше, чем у категории заемщиков, у которых есть дети, скорее всего в виду отсутствия расходов на детей. Они гораздо чаще обращаются за кредитом, могу предположить, что кредиты берутся не на вещи первой необходимости, а на предметы роскоши или для благоустройства жилья перед появлением детей.

Заемщики с 1 и 2 детьми: здесь могу предположить, что не учли расходы на детей в том числе и форсмажорные, так же возможно то, что в основном это семьи с родителями молодого возраста. 

Заемщики с 3 детьми: более ответственные, т.к. не каждая семья решиться на 3 ребенка, основательно не обдумав этот вопрос.

У заемщиков с 4 детьми самая большая доля должников, здесь скорее всего влияют большие финансовые затраты на содержание детей.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [23]:
data_pivot = data.pivot_table(index=['family_status'], values='debt', aggfunc = {'count', 'sum', 'mean'})# Ваш код будет здесь. Вы можете создавать новые ячейки.
data_pivot = data_pivot.rename(columns={'count':'кол-во заемщиков', 'sum':'кол-во должников', 'mean':'доля должников'})
data_pivot

                       кол-во заемщиков  доля должников  кол-во должников
family_status
Не женат / не замужем              2796        0.097639               273
в разводе                          1189        0.070648                84
вдовец / вдова                      951        0.066246                63
гражданский брак                   4134        0.093130               385
женат / замужем                   12261        0.075606               927

**Вывод:** 

Зависимость так же присутствует, у одиноких заемщиков, которые ранее состояли в браке, доля должников меньше, скорее всего из-за отсутствия расходов на семью, возраста, предположительно среднего, при достижении которого становишься более ответственным. 

Далее идут заемщики, находящиеся в браке, здесь скорее всего играет фактор несения ответственности не только за себя, но и за семью, но все же есть и расходы на семью, что снижает финансовую стабильность по сравнению с заемщиками, которые ранее состояли в браке. 

Заемщики в гражданском браке и заемщики, не состоявшие ранее в браке, имеют самую высокую долю должников, скорее всего по причине молодого возраста, т.к. в большинстве случаев данный статус применим к молодым людям.

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [24]:
data_pivot = data.pivot_table(index=['total_income_category'], values='debt', aggfunc = {'count', 'sum', 'mean'})# Ваш код будет здесь. Вы можете создавать новые ячейки.
data_pivot = data_pivot.rename(columns={'count':'кол-во заемщиков', 'sum':'кол-во должников', 'mean':'доля должников'})
data_pivot

                       кол-во заемщиков  доля должников  кол-во должников
total_income_category
A                                    25        0.080000                 2
B                                  5014        0.070602               354
C                                 15921        0.084982              1353
D                                   349        0.060172                21
E                                    22        0.090909                 2

**Вывод:** 

Зависимость присутствует.

Заемщики с доходом до 50 т.р., имеют меньшую долю должников, возможно по причине того, что в основном это заемщики со среднем заработком, которого хватает, но дополнительные расходы из-за просрочек, могут привести к нестабильному финансовому положению.   
Заемщики с доходом до 1 млн. р. и заемщики с доходом свыше 1 млн. р. имеют средний показатель доли должников, скорее всего это ИП, бизнесмены, люди с собственным делом, на расширение или стабилизацию которого и был оформлен заем, возврат с просрочками скорее всего по причине необходимого времени на получении дохода. 

Заемщики с доходом до 200 т.р., имеют показатель, чуть выше среднего, доли должников, возможно по причине того, что имеют заработок выше среднего и их не пугают дополнительные расходы по причинам просрочки. Онип чаще обращаются за кредитом, скорее всего они имеют не один кредит, и в силу этого, не верно рассчитали свои финансовые возможности или один кредит погашают другим.

Заемщики с доходом до 30 т.р.  имеют самую высокую долю должников, здесь более чем очевидно, что на это влияет финансовая нестабильность.

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [25]:
data_pivot = data.pivot_table(index=['purpose_category'], values='debt', aggfunc = {'count', 'sum', 'mean'})# Ваш код будет здесь. Вы можете создавать новые ячейки.
data_pivot = data_pivot.rename(columns={'count':'кол-во заемщиков', 'sum':'кол-во должников', 'mean':'доля должников'})
data_pivot

                          кол-во заемщиков  доля должников  кол-во должников
purpose_category
операции с автомобилем                4279        0.093480               400
операции с недвижимостью             10751        0.072551               780
получение образования                 3988        0.092528               369
проведение свадьбы                    2313        0.079118               183

**Вывод:** 

В зависимости от цели кредита, а именно ценности цели зависит и доля возврата. При допущении просрочек по ипотеке, есть возможность лишиться жилья, в большинстве случаев единственного. Скорее всего поэтому доля должников в этой категории ниже, чем в остальных.

Цель "проведение свадьбы", чуть выше по количеству должников, здесь скорее всего фактор того, что окупилось ли ее проведение. 

Цели "операции с автомобилем" и "получение образования", самые высокие показатели доли должников, здесь скорее всего несколько факторов: возраст - в основном данные цели преследуют заемщики молодого возраста, доход - заемщики среднего возраста, но с низким или среднем доходами, с желанием улучшить свое финансовое положение получив дополнительное образование или авто, как средство дополнительного заработка.

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* 

Пропуски были в столбцах days_employed (стаж) и total_income (доход) в одинаковом количестве, что приводит к мысли, что заполнение одного столбца влияет на заполнение другого, возможно из-за отказа опрашиваемого вносить данные, т.е. человеческий фактор. 

Так же возможно, это заемщики, которые еще приступили к работе, студенты например или мамы в отпуске по уходу за ребенком, ранее не работавшие, пенсионеры.

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* 

Если значения резко отличаются друг от друга, то в таком случае среднее значение будет некорректным, поэтому лучше брать медианное значение.

### Шаг 4: общий вывод.

Получив данные - статистику банка о платёжеспособности клиентов, подготовила данные для анализа:

1. выявила и удалила (заменила) пропущенные значения и дубликаты;
2. на основании диапазонов, присвоила категории данным по столбцам: доход, цель кредита;
3. составила сводные таблицы по каждому признаку (дети, семейное положение, доход, цель кредита).

Исходя из сводной таблицы полагаю, что по одному признаку невозможно определить, будет ли заемщик добросовестно выплачивать кредит или нет. Но если сопоставить несколько признаков, то с вероятностью 60-70% можно прогнозировать, войдет ли заемщик в долю должников или нет. Заемщик с 1 ребенком и находящийся в браке, с доходом до 200 т.р., с целью приобретения жилья, с вероятностью в 70 % не попадет в категорию должников в отличие от заемщика, который не состоит в браке, без детей с доходом до 30 т.р., с целью приобретения автомобиля, возможно станет должником.

Данное исследование показало, что кредитный скоринг можно улучшить, если добавить данные, при сборе информации о заемщике, такие как:

-вид деятельности заемщика, можно более точно предположить, кредит – это необходимость или улучшение качества жизни. В первом случае вероятность возникновения просрочки более высокая, во втором случае вероятность меньше;

-сделать более расширенный список в столбце "цель кредита" или присвоить категории "вещи первой необходимости" или "предметы роскоши";

-учитывать доход семьи, а не только заемщика, чтобы понимать, примерно какая сумма остается у заемщика после необходимых выплат и хватит ли ее для погашения кредита.